@mixin scrollbar-default($border: #fff) {
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #cfd3db;
    border-radius: 8px;
  }

  @if ($border == #fff) {
    &::-webkit-scrollbar-thumb {
      border: 2px solid #fff;
    }
  }  @else {
    &::-webkit-scrollbar-thumb {
      border: 2px solid $border;
    }
  }
}

@mixin scrollbar-transparent {
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 0px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 0px solid transparent;
  }
  &::-webkit-scrollbar-track { 
    background-color: transparent;
  }
}

@mixin ellipsis($lines: 1) {
  @if ($lines==1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
  }
}

@mixin image-sprite($width, $height,$block: inline-block) {
  width: $width;
  height: $height;
  background: url("../img/icon/icons_survey.png") 0 0/100px auto no-repeat;

  @if ($block == inline-block) {
    display: inline-block;
    vertical-align: middle;
  } @else if ($block == block ) {
    display: block;
  } @else {
    display: $block;
  }
}

@mixin profile-wrapper ($width, $height: $width) {
  overflow: hidden;
  display: inline-block;
  width: $width;
  height: $height;
  background: url("../img/icon/profile_default_hiclass.svg") no-repeat;
  border-radius: 50%;
  vertical-align: middle;
}

@mixin profile {
  position: absolute;
  left: 50%;
  top: 50%;
  width: auto;
  min-width: 100%;
  height: 100%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  object-fit: cover;
  image-rendering: auto;
}

$breakpoints: (
  'small': (max-width: 767px),
  'medium': (max-width: 1024px),
  'large': (max-width: 1040px),
  'huge': (max-width: 1300px)
) !default;

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }
 
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@mixin font-nanum($weight: 600) {
  font-family: "NanumSquare", -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", "segoe ui emoji", sans-serif;
  transform: skew(.2deg);

  @if ($weight == 600) {
    font-weight: 600;
  } @else {
    font-weight: $weight;
  }
}