@charset "UTF-8";

// 설문 응답하기 모바일 APP 디자인 반영 (설문 응답 반응형 & APP 화면 미리보기 시뮬레이션 & 통계 웹뷰)
.survey-intro__header {
  height: 200px;
  padding-top: 5.714rem;
  text-align: left;

  .heading {
    font-size: 1.714rem;
  }

  .desc {
    font-size: 1.071rem;
    margin-top: 12px;
  }

  .btn-close {
    top: 1rem;
    right: 1.143rem;
    width: 24px;
    height: 24px;
  }

  & ~ .survey__content {
    margin-top: -20px;

    .survey-view__content { 
      max-height: 100%;
      padding: 0;
    }

    .survey-create__box {
      border-radius: 16px 16px 0 0;
      margin: 0;
    }
  }
}

.survey__header {
  height: 50px;
  background-color: #fff;
  border-bottom: $border-light;

  .header__inner {
    justify-content: flex-start;
    padding: 0 1.143rem;
  }

  .right {
    margin: 0;

    .pagination {
      height: 28px;
      border-radius: 28px;
      padding: 0 1rem;
      margin: 0;

      &::after { 
        vertical-align: top;
        margin-top: 6px;
      }

      &.is-active {
        &::after {
          margin-top: 10px;
        }
      }

      span {
        font-size: 0.857rem;
        line-height: 26px;
      }
    }

    .pagination__heading {
      padding: 0;
      
      strong {
        font-size: 1.143rem;
        line-height: 59px;
        text-align: center;
      }
      p { display: none; }
    }

    .pagination__item {
      text-align: left;

      &:not(:last-of-type) {
        &::before {
          left: 0;
          width: 100%;
        }
      }

      .question {
        font-size: 1rem;
      }
    }
  }
}

.survey-view__content {
  &:not(.all, .webview) { 
    overflow-y: visible;
    max-height: fit-content;
  }

  @at-root .survey-view__content.webview .survey-create__box  {
    padding: 2rem 1.143rem;
    margin: 1.714rem 1.143rem;
  }
  
  .survey-create__box {
    padding: 2rem 1.143rem;
    margin: 1.714rem 1.143rem;
  
    &.full {
      min-height: auto;
    }
  }
}

.survey-create__box {
  .survey__heading {
    .heading { 
      font-size: 1.429rem;
      line-height: $m-lh;
    }

    .heading-sub {
      font-size: 1.214rem;
      line-height: $m-lh;
    }

    .info {
      display: block;
      margin-top: -12px;

      &::before { display: none; }
    }

    .date,
    .info,
    .status {
      font-size: 1rem;
    }

    .bar { 
      border-width: 1px;
    }
  }
  
  .survey__image {
    .image {
      display: block;

      img {
        width: 100%;
      }
    }
  }

  .group-label {
    .label {
      background-color: transparent;
      color: #888;
      font-size: 0.929rem;
      font-weight: $text-medium;
      line-height: 1;
      padding: 0;
      border-radius: 0;
      margin-right : 0;
      margin-bottom: 0.571rem;

      &:not(:first-of-type) {
        margin-left: 0.5rem;
        padding-left: 0.5rem;
        border-left: $border-light; 
      }

      &.required { 
        color: $survey-color;
      }
    }
  }

  .survey__info {
    padding: 1.143rem;

    .info {
      flex-direction: column;

      &:not(:first-of-type) {
        padding-top: 1.143rem;
        border-top: $border;
        margin-top: 1.143rem;
      }
    }

    [class^="heading-"] {
      font-size: 1rem;
    }

    span {
      font-size: 1.071rem;
      padding-left: 28px;
    }
  }

  .text-noticebox {
    font-size: .929rem;
    padding: 0.857rem 1rem;

    p { font-size: 1rem; }
  }

  .inputbox,
  .hi-selectbox,
  .checkbox { width: 100% !important; }

  .agreebox { 
    padding: 1.143rem 1rem;
  
    .checkbox label span { 
      font-size: 1rem;
    }
  }

  .answer__heading {
    margin-bottom: 3rem;
    padding: 0;
    
    &:not(.anonymous) {
      
      &::before { display: none; }

      .heading { font-size: 1.714rem; }

      .desc {
        font-size: 1.071rem;
        margin-top: 0.857rem;
      }
    }

    &.anonymous {
      text-align: center;
      margin: 140px 0;

      &::before {
        position: relative;
        display: block;
        margin: 0 auto;
      }

      .heading {
        display: block;
        font-size: 1.214rem;
        margin-top: 1.714rem;
      }

      .desc {
        font-size: 1rem;
        margin-top: 0.571rem;
        
        span { 
          display: block;
          font-size: 1rem;
          line-height: $lh;
        }
      }
    }
  }

  .option__heading {
    color: #9e9e9e;
    font-size: 0.929rem;
    line-height: 1;
    padding-bottom: 0.714rem;
  }

  .option__item {
    flex-direction: column;
    padding-bottom: 2rem;
    border: 0;

    &:not(:first-of-type) { 
      padding-top: 0;
    }

    &.half {
      width: 100%;
      float: none;

      & ~ .half {
        .option__heading {
          padding-left: 0;
        }
      }

      .inputbox input { width: 100%; }
    }

    .inputbox { 
      position: relative;
      
      input {
        height: auto;
        width: 100%;
        font-size: 1.143rem;
        line-height: $lh;
        padding: 0 0 0.714rem;
        border: 0;
        border-bottom: $border;
        border-radius: 0;
        
        &:disabled {
          color: $text-color-dis;
          background-color: #eee;
        }
  
        &:focus {
          border-bottom: 2px solid $main-color;
        }
  
        & + .hi-btn {
          height: 40px;
          font-size: 15px;
          font-weight: 400;
          padding: 0 16px;
          border-radius: 4px;
          margin-left: 4px;
          vertical-align: middle;
        }
      }
    }

    .text {
      padding: 0 0 12px;
      border-bottom: $border;
    }

    .checkbox { padding: 0; }
  }

  .objective__item {
    margin-bottom: 12px;
    
    &:last-of-type {
      margin-bottom: 0;
    }
    
    .alignbox {
      display: block;
      overflow: hidden;
      width: 100%;
      height: auto;
      padding: 0;
      border: $border-light;
      margin-top: 10px;

      .image {
        width: 100%;
        padding-top: 63.085%;

        img {
          position: absolute;
          top: 50%;
          width: auto;
          max-width: 100%;
          max-height: 100%;
          transform: translateY(-50%);
        }
      }
    
      &.left {
        .image {
          img { left: 0; }
        }
      }

      &.center {
        .image {
          img { 
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }

      &.right {
        .image {
          img { right: 0; }
        }
      }
    }

    input[type=radio]:checked + label .alignbox,
    input[type=checkbox]:checked + label .alignbox {
      padding: 0;
      border: $border-light;
    }

    .checkbox {
      label {
        display: block;
        padding: 1.429rem 1.143rem;
        border: 1px solid rgba(0, 0, 0, 0.08);
        border-radius: 10px;

        &::before {
          top: 1.429rem;
          left: 1.143rem;
        }

        span {
          line-height: 20px;
          vertical-align: top;
        }
      }

      input:checked + label {
        border-color: $main-color;
        background-color: rgba(71, 120, 222, 0.04);
      }
    }
  } 

  .textareabox { 
    height: 140px;
    padding: 1.143rem  1.143rem 2rem;
    border-radius: 10px;
    margin-top: 8px;

    &.subjective {
      margin: 0;
    }
  }

  .count-word {
    margin-right: 10px;
  }

  .starbox .icon-star {
    width: 20px;
    height: 20px;
    background-size: auto 20px;
    margin: 0;
  }

  .esignbox {
    padding: 0;
    border: 0;
    
    .esign {
      width: 100%;
      padding-top: 45.417%;
    }

    & + .group-btn {
      display: flex;

      button {
        width: 100%;
      }
    }
  }
  
  .text-notice { 
    padding: 0;
    text-indent: 0;
    &::before { display: none; }
  }

  .dropdown__item {
    margin-top: 20px;
  }
}

